* {
  margin: 0;
  padding: 0;
}
.eng {
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.csg {
  background-image: url(csg.png);
  width: 1421px;
  height: 1000px;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 30px 50px;
  display: flex;
  flex-direction: column;
}
.c {
  width: 50px;
  height: 50px;
}
nav {
  display: flex;
  justify-content: space-between;
}
.a {
  width: 243px;
  height: 50px;
  background-color: #009ff574;

  border-radius: 10px;
  color: white;
  display: flex;
  justify-content: space-between;
  padding: 14px 19px;
  font-size: 20px;
  border: none;
  outline: none;
  box-shadow: 0px 4px 4px 0px #dad3ff;
}
button:hover {
  background-color: yellow;
  box-shadow: 1px 0px opx 1px green;
  color: black;
  text-shadow: 0px 4px 4px #000000;
}
.div {
  width: 268px;
  height: 22px;
  color: white;
  margin: 14px auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-shadow: 0px 4px 4px #000000;
}

.q {
  display: flex;
  justify-content: space-between;
  gap: 68px;
}
.til {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  color: white;
}
.j {
  color: black;
  text-shadow: 2px 4px 4px 3px #000000;
  background-color: red;
}
.v {
  width: 504px;
  height: 83px;
  color: black;
  background-color: yellow;
  border-color: grey;
  border-radius: 50px;
  border-style: outset;
  border-width: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.v h1 {
  display: flex;
  color: black;
}
.l {
  text-decoration: none;
}
.orta {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1440px;
  height: 400px;
}
.ota {
  display: flex;
  justify-content: space-between;
}
.bola {
  width: 350px;
  height: 340px;
  display: flex;
  flex-direction: column;
  box-shadow: 8px 7px 20px 0px #ffffff;
}
.jinni {
  width: 350px;
  height: 340px;
}

.bola img {
  width: 350px;
  height: 340px;
}
.nevara {
  width: 350px;
  height: 40px;
  font-size: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1f1f1f;
  color: #000000;
  text-shadow: 0px 4px 4px #a82222;
}
.j {
  text-shadow: 0px 4px 4px #861212;
}
option {
  text-shadow: 0px 4px 4px #000000;
}
select {
  text-shadow: 0px 4px 4px #000000;
}
.ui {
  text-shadow: 1px 4px 3px #504747;
}
.kun {
  width: 1421px;
  height: 1000px;
  background-color: black;
  display: flex;
  flex-direction: column;
  padding: 30px 50px;
  align-items: center;

  gap: 100px;
}
.information h1 {
  font-family: Roboto;
  font-weight: 600px;
  font-size: 64px;

  line-height: 100%;
  letter-spacing: 0%;
  color: grey;
  text-shadow: 0px 4px 4px #ffffff;
}
.information {
  width: 346px;
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lol {
  width: 571px;
  height: 305px;
  display: flex;
  flex-direction: column;
  color: white;
  font-family: Roboto;
  font-weight: 600;
  font-size: 27px;
  line-height: 100%;
  letter-spacing: 0%;
  gap: 100px;
}
.ohiri {
  display: flex;
  justify-content: space-between;
  gap: 81px;
}
.ohir {
  display: flex;
  justify-content: space-between;
  gap: 81px;
}
.tugman {
  width: 278px;
  height: 61px;
  border: none;
  outline-style: none;
  background-color: yellow;
  box-shadow: 0px 7px 12.8px 0px #ffffff;
}
.tugman:hover {
  background-color: grey;
  color: white;
  box-shadow: 0px 7px 12.8px 0px #ffffff;
}
.eng {
  display: flex;
  flex-direction: column;
}
.oyoq {
  width: 1421px;
  height: 158px;
  background-color: yellow;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
}
.qoyo {
  width: 101px;
  height: 55px;
}
.rasmchalar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.rasmchalar img {
  width: 45px;
  height: 45px;
}
